.hero {
  margin-left: 250px;
  width: 80%;
}
.hide-hero {
  width: 100%;
  margin-left: 0px;
}
.video {
  width: 100%;
  min-height: 100vh;
  top: 0px;
  padding: none;
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-left: 0px;
}

video {
  object-fit: cover;
}
.hero-title {
  font-size: 30px;
}
.btn {
  background: #7207ff;
}
.hero-left {
  z-index: 23;
  top: 0;
  bottom: 0;
  height: 400px;
  padding: 0px 30px 50px 30px;
  background: url(./../../assets/images/t.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}
@media screen and (max-width: 1184px) {
  .hero {
    margin-left: 0;
    width: 100%;
  }
}
