.header {
  width: 80%;
  margin-left: 250px;
  margin-top: 10px;
  padding: 15px 30px;
  background: var(--body-bg);
  border-radius: 15px;
}
.avatar {
  width: 36px;
  height: 36px;
  background: #1c0ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
}
.hide-header {
  padding: 15px 30px;
  width: 100%;
  margin-left: 0px;
  border-radius: 15px;
  margin-top: 10px;
  background: var(--body-bg);
}
.open-menu{
  display: block;
}
.hide-menu{
  display: none;
}
@media screen and (max-width: 1184px) {
  .header {
    padding: 15px 30px;
    width: 100%;
    margin-left: 0px;
    border-radius: 15px;
    margin-top: 10px;
    background: var(--body-bg);
  }
  .hide-header {
    padding: 15px 30px;
    width: 100%;
    margin-left: 0px;
    border-radius: 15px;
    margin-top: 10px;
    background: var(--body-bg);
  }
  .open-menu{
    display: block;
  }
}

@media screen and (max-width:620px) {
  .explore-icon{
    display: none;
  }
  .browser{
    display: none;
  }
  .down{
    display: none;
  }
}
@media screen and (max-width:480px) {
.search-header{
  display: none;
}
}